
.ant-tabs-tab-active {
  background-color: #dcfce7 !important;
  color: #235FB7 !important;
  border: 1px solid #235FB7 !important;
  border-bottom: none !important;
}
.ant-tabs-tab {
  margin: 0px !important;
  color: #235FB7 !important;
  
}
.ant-tabs-tab:hover {
  background-color: #dcfce7 !important;
}
.ant-tabs-tab-btn{
    color: #235FB7 !important;
}
.ant-tabs-nav-wrap{
    border-bottom: 1px solid #235FB7 !important;
}